# Enviroment
.env
venv

# vscode
**/.DS_Store

# Pycache
**/__pycache__

# Idea
**/.idea

# Database
**/*.sqlite3

# Migrations
**/migrations/*.py
!__init__.py

# IDE
.vscode
.idea

# Media files
**/*.png
**/*.jpg
**/*.jpeg
**/*.webm